<div class="container">
	<div class="row">
	  <div class="logo col"><%= image_tag("logo-horizontal-1024.png", :class => "img-responsive") %></div>
  </div> <!-- end row -->
  <div class="row">
	<div class="call-to-action">SEND SMS to 805-32-CHIME</div>
  </div>
    <%= form_for @message, html: {role: "form"} do |f| %>
    <div class="row">
	    <span class="col col-sm-6">
	      <%= f.label "Chime in", class: "sr-only" %>
        <%= f.text_field :description, :placeholder => "Chime in" %>
	    </span>
      <span class="col col-sm-4">
	      <%= f.submit "Chime in", class: "btn btn-default" %>
	    </span> <!-- end row -->
  </div>
    <% end %>

    <%= render 'hashtag'%>
</div>